# **Data Wrangling**

## Objectives

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

Import pandas module.

In [ ]:
import pandas as pd

Load the dataset into a dataframe.

In [ ]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

Find how many duplicate rows exist in the dataframe.

In [ ]:
# your code goes here
df.duplicated().value_counts()

False    11398
True       154
dtype: int64

In [ ]:
#How many duplicate values are there in the column Respondent? 
df['Respondent'].duplicated().value_counts()

False    11398
True       154
Name: Respondent, dtype: int64

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [ ]:
# your code goes here
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [ ]:
# your code goes here
df.duplicated().value_counts()

False    11398
dtype: int64

In [ ]:
#Question 2 After removing the duplicate rows, how many unique rows are there in the column Respondent? 
print(len(df['Respondent'].unique()))
#After removing the duplicate rows, how many blank rows are there under the column EdLevel?
print(df['EdLevel'].isna().value_counts())
# Question 2 After removing the duplicate rows, how many rows are missing under the column Country?
print(df['Country'].isna().value_counts())

11398
False    11286
True       112
Name: EdLevel, dtype: int64
False    11398
Name: Country, dtype: int64

## Finding Missing values

Find the missing values for all columns.

In [ ]:
# your code goes here
df.isna().head(3)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
# What is the majority category under the column Employment?
print(df['Employment'].mode())
# Question 2 Under the column " UndergradMajor", which category has the minimum number of rows?
print(df['UndergradMajor'].value_counts())

0    Employed full-time
dtype: object
Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [ ]:
# your code goes here
df['WorkLoc'].isnull().value_counts()

False    11366
True        32
Name: WorkLoc, dtype: int64

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [ ]:
# your code goes here
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [ ]:
#make a note of the majority value here, for future reference
#
df['WorkLoc'].mode()

0    Office
dtype: object

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [ ]:
# your code goes here
freq_value = 'Office'
df['WorkLoc'].fillna(freq_value, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [ ]:
# your code goes here
df['WorkLoc'].isna().value_counts()

False    11398
Name: WorkLoc, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [ ]:
# your code goes here
df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

In [ ]:
df['CompTotal'].head(3)

0     61000.0
1    138000.0
2     90000.0
Name: CompTotal, dtype: float64

In [ ]:
df.drop(['NormalizedAnnualCompensation'],axis=1,inplace=True)

:Create a new column named 'NormalizedAnnualCompensation'.

In [ ]:
# your code goes here

df['NormalizedAnnualCompensation'] = df['CompTotal'] * df['CompFreq'].map({'Yearly': 1.0, 'Monthly': 12.0, 'Weekly': 52.0})

In [ ]:
median_df = df['NormalizedAnnualCompensation'].median()
print(f'Median of Normalized Annual Compensation: {median_df}')
df[['CompTotal', 'CompFreq', 'NormalizedAnnualCompensation']].head()

Median of Normalized Annual Compensation: 100000.0

   CompTotal CompFreq  NormalizedAnnualCompensation
0    61000.0   Yearly                       61000.0
1   138000.0   Yearly                      138000.0
2    90000.0   Yearly                       90000.0
3    29000.0  Monthly                      348000.0
4    90000.0   Yearly                       90000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).